body{
  padding: 50px;
}

.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group{
  margin-bottom: 30px;
}



img{
  height: 50%;
  width: 50%;
}

/*Header*/
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: beige;
}

/*
.left, .right{
    width: 70%;
}
*/

.right{
    width: 10%;
    align-content: center;
}

/*Burger Button*/
.burger-menu {
    display: inline-block;
  }
  
  .burger-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  
  .burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: beige;
    margin-bottom: 5px;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .show-menu .burger-icon span {
    background-color: aquamarine;
  }
  
  .show-menu .menu-items {
    display: block;
  }
  /*End of header*/

  .top-header{
    background-color: black;
    color: beige;
  }

  .header-buttons a{
    color: beige;
  }

  .header-buttons a:hover{
    color: aquamarine;
  }

  .header-buttons a:visited{
    color: rgb(240, 241, 238);
  }

  .flex2{
    display: flex;
    justify-content: space-between;
  }

  .grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /*Footer*/

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  
  /*End of Footer*/