.header-container{
    display: flex;
    justify-content: space-between;
}

.left, .right{
    width: 70%;
}

.burger-menu {
  display: inline-block;
}

.burger-icon,
.close-icon {
  display: block;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.burger-icon span,
.close-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

.close-icon span {
  background-color: #fff;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.show-menu .burger-icon span {
  background-color: transparent;
}

.show-menu .close-icon {
  display: block;
}

.show-menu .menu-items {
  display: block;
}
